@{
    ViewBag.Title = "About";
}

<h2>Desafio de Programação Marcante</h2>
<p>Tecnologia Usada: .NET 8.0</p>
<p>Arquitetura: MVC</p>
<p>Como Atuou: [Descrição de como você atuou no desafio]</p>
<p>Por que Te Marcou Tanto Este Desafio: [Motivo pelo qual o desafio foi marcante]</p>
