@{
    ViewBag.Title = "About";
}

<h1>Desafio de Programação Marcante</h1>
<p>Um dos maiores desafios em minha jornada de desenvolvimento foi quando comecei a trabalhar com a tecnologia .NET em meu emprego anterior. Apesar de já ter quatro anos de experiência, a transição para .NET foi uma mudança significativa em termos de arquitetura, padrões e conceitos como orientação a objetos.</p>

<p>
    Me adaptar a essa nova realidade foi desafiador. Investi meu tempo livre no estudo das tecnologias usadas na empresa, como o próprio C# que foi totalmente novo para mim nesse momento, o funcionamento da arquitetura CQRS, o padrão Mediatr e a biblioteca Entity Framework entre outros.<br />
    E conforme eu fui evoluindo, novos desafios chagavam no dia a dia. Como por exemplo integrar do zero uma Api do Google Maps, outro desafio grande foi desenvolver um meio para renderizar de forma dinâmica vários certificados e envia-los de maneira assincrona.
</p>

<p> O que me deixa essa sensação de momento marcante, é olhar para trás e ver o tamanho do desafio que eu tinha, e o como ele foi contornado em relativamente pouco tempo. Essa experiência me ensinou a valorizar mais minha capacidade de resiliência e adaptação, que são dois pontos onde me vejo forte.</p>